html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background: #000 url('bg.png') no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

iframe {
    width: 79.5vw;
    height: 48.5vw;
    margin-top: 10.5vw;
    margin-left: 9.5vw;
    border: none;
}
